
/* Primary Colors */
:root{
    --ls-c-white: hsl(0, 0%, 100%);
    --ls-c-black: hsl(0, 0%, 0%);
    --ls-c-dark-gray: hsl(0, 0%, 55%);
    --ls-c-v-darkgray: hsl(0, 0%, 41%);
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body{
    min-height: 100vh;
    color: var(--ls-c-black);
    font-size: 15px;
}


@font-face {
    font-family: 'Alata', 'Josefin Sans';
    src: url('./font_family/Alata-Regular.ttf') format('truetype'),
         url('./font_family/Alata-Regular.woff') format('woff'),
         url('./font_family/JosefinSans-Light.ttf')  format('truetype'),
         url('./font_family/JosefinSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--ls-c-white);
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  nav ul li:hover::after{
    width: 60%;
  }

  .sidenav {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background: var(--ls-c-black);
    overflow-x: hidden;
    padding-top: 50px;
  }
  

  .hide-for-desktop, .hide-for-mobile{
    display: none;
  }
  
  .header-menu > span{
    display: block;
    width: 1.625rem;
    height: 0.125rem;
    background-color: var(--ls-c-white);
  }

  span:not(:last-child){
    margin-bottom: 6px;
  }

